@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.main{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#submit-btn{
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: 700;
  font-size: large;
}

